@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #DE4D50;
    --color-secondary: #F5941F;
}

@import '@fortawesome/fontawesome-free/css/all.min.css';


@import 'datatables.net-dt/css/dataTables.dataTables.min.css';
@import 'datatables.net-buttons-dt/css/buttons.dataTables.css';
@import 'datatables.net-responsive-dt/css/responsive.dataTables.css';
@import 'datatables.net-scroller-dt/css/scroller.dataTables.css';
@import 'datatables.net-searchpanes-dt/css/searchPanes.dataTables.css';

.datatable-container {
    @import 'bootstrap/dist/css/bootstrap.min.css';
}